<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="dataExchange:salesforce:testConnection" type="Sitecore.Support.DataExchange.Providers.Salesforce.Local.Commands.TestConnectionCommand, Sitecore.Support.191359" patch:instead="command[@name='dataExchange:salesforce:testConnection']" />
      <command name="dataExchange:salesforce:showUsage" type="Sitecore.Support.DataExchange.Providers.Salesforce.Local.Commands.ShowUsageCommand, Sitecore.Support.191359"  patch:instead="command[@name='dataExchange:salesforce:showUsage']" />
    </commands>
  </sitecore>
</configuration>